@model ShortCutURL.Models.DataModel.ShortUrl

@{
    ViewBag.Title = "Сокращенный URL";
}

    <h2>Сокращенный URL</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullUrlValue)
        </dt>

        <dd>
            <a>@Html.DisplayFor(model => model.FullUrlValue)</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortUrlValue)
        </dt>

        <dd>
            <a>@Html.DisplayFor(model => model.ShortUrlValue)</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
